/* Default CSS styles for ITIS 3135 Course Page */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
    background-color: rgb(255, 245, 178);
    color: #7a7979;
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    font-family: 'Playfair Display', serif;
    color: rgb(0, 0, 0);
}

header {
    background-color: burlywood;
    color:#7a7979;
    padding: 10px;
}

footer {
    background-color: burlywood;
    color:#7a7979;
    text-align: center;
    padding: 10px;
}

main {
    background-color: #ddd2d2;
    padding: 20px;
    border-radius: 8px;
}

/* Additional styles - Primary Navigation (Course Pages */
#primary-nav {
    background-color: forestgreen;
    padding: 10px;
    text-align: center;
}

#primary-nav a {
    color: rgb(255, 222, 37);
    text-decoration: none;
    padding: 5px 10px;
}

#primary-nav a:hover {
    background-color: rgb(119, 82, 13)
}

/* Additional styles - Secondary Navigation (Other Pages) */
#secondary-nav {
    background-color: forestgreen;
    padding: 5px;
    text-align: center;
    padding: 3px 8px;
}
#secondary-nav a {
    color: rgb(255, 222, 37);
    text-decoration: none;
    padding: 3px 8px;
}
#secondary-nav a:hover {
    background-color: orange;
}