<footer>
    <hr>
    <table>
      <tr>
        <td><a href="../index.html">Home</a></td>
        <td>|</td>
        <td><a href="https://tech25-jpg.github.io/Tech25.github.io/">ITIS3135</a></td>
        <td>|</td>
        <td><a href="https://webpages.charlotte.edu/kteah/">CLT Web</a></td>
        <td>|</td>
        <td><a href="https://github.com/Tech25-jpg">GitHub</a></td>
        <td>|</td>
        <td><a href="https://github.com/Tech25-jpg/Tech25-jpg.github.io">GitHub.io</a></td>
        <td>|</td>
        <td><a href="https://www.linkedin.com/in/kevin-teah-90b1a0332/">LinkedIn</a></td>
        <td>|</td>
        <td><a href="https://www.freecodecamp.org/kteah25">freeCodeCamp</a></td>
      </tr>
    </table>
  </footer>
    <p>&copy; 2026 Kevin Teah | ITIS 3135 <a href="mailto:kteah@charlotte.edu">| kteah@charlotte.edu</a></p>