<header>
    <h1>Kevin Teah's ITIS3135 CLT Nav Websites</h1>

    <nav id="primary-nav">
        <a href="../index.html">Home</a> |
        <a href="../survey.html">Survey</a> |
        <a href="../cards.html">Gallery</a> |
        <a href="../inventory.html">Inventory</a> |
        <a href="../documentation.html">Instructions</a> |
        <a href="../product.html">Highlight</a> |
        <a href="../contract.html">Contract</a>
    </nav>

    <nav id="secondary-nav">
        <a href="../stuff/hTm_@🤣.htm">Radi-Tude Zone</a> |
        <a href="../../introductions.html">Introduction Page</a> |
        <a href="../website_evaluations.html">Website Evaluations</a> |
    </nav>
</header>

